<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

 <logger name="com.flazr" level="INFO"/>
 <logger name="com.flazr.rtmp.RtmpDecoder" level="INFO" />
 <logger name="com.flazr.rtmp.RtmpEncoder" level="INFO" />
 <logger name="com.flazr.amf.Amf0Value" level="INFO" />
 <logger name="org.mytvstream" level="DEBUG"/>
 <logger name="com.xuggle" level="INFO"/>

  <root level="info">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
